<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Consumption and Waste: Feeding the Unfed</title>

		<!-- bootstrap -->

		<!-- css file -->
		<!-- <link rel="stylesheet" type="text/css" href="[ENTER CSS FILE HERE]"> -->

		</head>
		<body>
			
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<!-- favicon.ico error corrected -->
		<link rel="shortcut icon" href="#">


		 <!-- leaflet script -->
		 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
		 integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
		 crossorigin=""/>
		
		<!-- css file -->
		<link rel="stylesheet" type="text/css" href="../static/css/style.css">
		<!-- jinja run css file -->
		<!-- <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename= 'css/style.css')}}"> -->
	</head>

	
	<body>
		
		<!-- navigation bar -->
		<div class='topnav'>
			<a class="active" href="index.html">Home</a>
			<a href="">Placeholder</a>
			<a href="">Placeholder</a>
		</div>

		<div class="jumbotron text-center">
			<h1>Consumption and Waste</h1>
			<h2>Feeding the Unfed</h2> 
		  </div>
			
		  <div class="container-fluid">
			<div class="row">
			  <div class="col-lg-1">
			  </div>
			  <div class = "col-lg-2">
				<h3>Drop Down Menu here?</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
				<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
			  </div>
			  <select id="selDataset" onchange= "optionChanged(this.value)"></select>
			<div class = "graph">

			</div>
			  <div class="col-lg-8">
				<center><h3>Our Story</h3>
				<p>Our project is to visualize the juxtaposition between the amount of food waste that occurs and the widespread hunger (measured by food insecurity) throughout America. The story we want to convey is the high level of disconnect between the amount of food wasted and the amount of food needed to provide for the food insecure. While we won’t know the exact numbers until we do the analysis, a huge amount of food insecurity could be solved by repurposing food waste, and we want to visually display these disparities, as visuals can create a much larger impact than pure numbers.</p>
				</center>	
				</div>
			  <div class="col-lg-1">
			</div>
			</div>
		  </div>
		
		  <!-- LEAFLET-->
		  <div id="map" style="width: 800px; height: 400px">
			<script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
			integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
			crossorigin=""></script>
		   
			<!-- API key -->
			<script type=text/javascript src="{{url_for('static', filename='js/config.js')}}"></script>
			<!-- JS  -->
			<script type=text/javascript src="{{url_for('static', filename='js/map.js')}}"></script>
		  </div>

		<!-- js files -->
		<!-- <script type="text/javascript" src="[ENTER JAVASCRIPT FILE HERE]"></script> -->
	
		<!-- footer -->
		<div class="footer">
			<footer>Created by <a href="https://github.com/darrensagucio/project-2" target="_blank">Group 4</a></footer>
  		</div>
	</body>


<script src="https://d3js.org/d3.v5.min.js"></script>
<!-- js files -->
<script type="text/javascript" src="../static/js/graph3.js"></script>

</html>
</html>

<!-- leaflet just in case (css)-->
		<!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
		integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
		crossorigin=""/> -->

		<!-- leaflet (js)-->
		<!-- <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
		integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
		crossorigin=""></script> -->
