
<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Consumption and Waste: Feeding the Unfed</title>

		<!-- bootstrap -->

		<!-- css file -->
		<!-- <link rel="stylesheet" type="text/css" href="[ENTER CSS FILE HERE]"> -->

		<!-- </head>
		<body> -->
			
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<!-- favicon.ico error corrected -->
		<link rel="shortcut icon" href="#">
		
		<!-- need d3 in head div -->
		<script src="https://d3js.org/d3.v5.min.js"></script>

		 <!-- leaflet script -->
		 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
		 integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
		 crossorigin=""/>
		
		<!-- css file -->
		<link rel="stylesheet" type="text/css" href="../static/css/style.css">
		<!-- jinja run css file -->
		<!-- <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename= 'css/style.css')}}"> -->
	</head>

	
	<body>
		
		<!-- navigation bar -->
		<div class='topnav'>
			<a class="active" href="index.html">Home</a>
			<a href="">Food Insecurity</a>
			<a href="">Food Waste</a>
			<a href="">How You Can Help</a>
		</div>

		<div class="jumbotron text-center">
			<h1>Consumption and Waste</h1>
			<h2>Feeding the Unfed</h2> 
		  </div>
			
		  <div class="container-fluid">
			<div class="row">
			  <div class="col-lg-1">
			  </div>
			  <div class = "col-lg-2">
					<div class = "container">
						<a href = "index.html">
						<img src="https://www.unitedway.org/i/blog/10.15.19_5_Surprising_Facts_about_Hunger_in_America_Blog-reupload.jpg/@zx_1000@zy_500" alt="" class="img-thumbnail"></p>
						<div class="overlay">
							<div class="text">Food Insecurity</div>
						</div>
					</div></a>
					<div class = "container">
						<a href = "index.html">
						<img src="https://inteng-storage.s3.amazonaws.com/img/iea/9lwjA5dY6E/sizes/sustainable-agriculture_md.jpg" alt="" class="img-thumbnail"></p>
						<div class="overlay">
							<div class="text">Food Waste</div>
						</div>
					</div></a>
					<div class = "container">
						<a href = "index.html">
						<img src="https://d2908q01vomqb2.cloudfront.net/9e6a55b6b4563e652a23be9d623ca5055c356940/2020/05/26/Food-insecurity.png" alt="" class="img-thumbnail"></p>
						<div class="overlay">
							<div class="text">How You Can Help</div>
						</div>
					</div></a>
			  </div>
			  <!-- <select id="selDataset" onchange= "optionChanged(this.value)"></select>
			<div class = "graph">
			</div> -->
			  
			  <div class="col-lg-8">
				<center><h3>Our Story</h3>
				<p>Our project is to visualize the juxtaposition between the amount of food waste that occurs and the widespread hunger (measured by food insecurity) throughout America. The story we want to convey is the high level of disconnect between the amount of food wasted and the amount of food needed to provide for the food insecure.</p>
				<!-- LEAFLET-->
				<div id="map" style="width: 800px; height: 400px">
					<script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
					integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
					crossorigin=""></script>
				   
					<!-- API key -->
					<script type=text/javascript src="{{url_for('static', filename='js/config.js')}}"></script>
					<!-- JS  -->
					<script type=text/javascript src="{{url_for('static', filename='js/map.js')}}"></script>
				  </div>
				</center>	
				</div>
			</div>
			</div>
		  </div>
	
		<!-- js files -->
		<!-- <script type="text/javascript" src="[ENTER JAVASCRIPT FILE HERE]"></script> -->
		
		<!-- clayton's js for live server  -->
		<!-- <script type="text/javascript" src="../static/js/graph3.js"></script> -->

		<!-- clayton's js for flask -->
		<script type=text/javascript src="{{url_for('static', filename='js/graph4.js')}}"></script>
	
		<!-- footer -->
		<div class="footer">
			<footer>Created by <a href="https://github.com/darrensagucio/project-2" target="_blank">Group 4</a></footer>
  		</div>
	</body>

<!-- <script src="https://d3js.org/d3.v5.min.js"></script>
js files
<script type="text/javascript" src="../static/js/graph3.js"></script> -->

</html>
</html>

<!-- leaflet just in case (css)-->
		<!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
		integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
		crossorigin=""/> -->

		<!-- leaflet (js)-->
		<!-- <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
		integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
		crossorigin=""></script> -->